.admin {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.admin-trips {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.admin-trips-item {
  white-space: nowrap;
}

.admin-body {
  padding: 10px;
}
