html {
  height: 100%;
}

body{
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  position: absolute;
  top: 10;
  left: 10;
  z-index: 100;
  margin: 10px;
}

.App-title {
  font-size: 1.5em;
  color: #444;
  margin: 0;
}

.App-intro {
  font-size: large;
}
